
* {
  padding:0;
  margin:0;
}

.transition {
  position:absolute;
  z-index: 999;
  background: linear-gradient(to right, rgb(102,126,234), rgb(118,75,162));
  margin-left: -30%;
  height:100%;
  width:30%;
  transition:2s all ease-in-out;
  -webkit-transition:2s all ease-in-out;
}

.page__content a{
  text-decoration: none;
  color: black;
  font: inherit;
  font-size: 24px;
}
  .page__content a:hover{
    text-decoration: none;
    color:white;
    text-shadow: 4px 4px 4px black;
  }

  .sidenavP {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenavP a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenavP a:hover {
    color: #f1f1f1;
  }

  .sidenavP .closebtnP {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.cta {
  font-size: 50px;
  outline:none;
  border:none;
  text-decoration:none;
  text-transform:uppercase;
  background:inherit;
  color:#eaeaea;
  box-sizing:border-box;
  z-index: 99;
  margin-right: auto;
  margin-right: auto;
  width: 400px;
  height: 100px;
}

.anim-trans {
  animation: anim 2s ease-in-out;
  }
body, html {
  overflow-x:hidden;
  color: white;
  font-family:'Exo 2';
  height: 100%;
  width: 100%;
}
#mySlides{display:none;}
img {vertical-align: middle;}

main {
  height: 100%;
}

.size {
  width: 600px;
  height: 400px;
}

@media screen and (max-width : 720px) {
  .size {
    width: 80%;
    height: 300px;
  }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

h1 {
  font-size: 500%;
  color: white;
  margin-left: 5%;
}


ul {
  list-style: none;
}

li {
  list-style: none;
}

.menu {
  float:right;
  margin-right:2%
}

.next_button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.next_button:hover {
    background-color: #ddd;
    color: black;
}


.map_design {
  width: 100%;
  height: 500px;
  border:0;
  margin-right:auto;
  margin-left:auto;
}

.menu {
  display: inline-block;
  list-style: none;
}

@keyframes fadeInText {
  100% {
    opacity: 1;
  }
}

/*menubar for ul header*/
.menubar {
  font-family: 'Exo 2' ;
  font-size: 250%;
  background-color: inherit;
  list-style: none;
  text-align: left;
  width: 100%;
  height: 50px;
  left: 0px;
  right: 0px;
  position: fixed;
  padding: 5px;
  }
  .menubar li {
    display: inline-block;
    list-style: none;
  }
    .menubar li ul {
      display: inline-block;
      list-style: none;
      white-space: nowrap;
      }



.hype_list {
  color:white;
  text-decoration: none;
  outline: none;

  } .hype_list:visited {
    color:white;
    text-decoration: none;
    outline: none;

    } .hype:active .hype:focus {
      color:white;
      text-decoration: none;
      outline: 0;
      border: none;
    }
.searchBox {

}

.hype {
  color:white;
  text-decoration: none;
  background-color: inherit;
  outline: none;

  } .hype:visited {
    color:white;
    text-decoration: none;
    background-color: inherit;
    outline: none;

    } .hype:hover {
      color: black;
      text-decoration: none;
      background-color: inherit;

      } .hype:active .hype:focus{
        color: white;
        text-decoration: none;
        background-color: inherit;

        outline: 0;
        border: none;
        -moz-outline-style: none;
      }

    @media screen and ( max-width: 720px ){
	img {
        width: 80%;
        height: 60%;
      }
	 iframe {
		 width : 80%;
		 height : 60%;
	    }
	.font-size-mobile {
        font-size:10vw;
      }

	.img-mobile {
		width:300px;
		height:300px;
	    }

      .menu-mobile {
        float:right;
        margin-right:10%;
      }

	.img-start {
		text-align:center;
	    }

      #introduce {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 40%;
        background-color: rgba(255, 255, 255, 0.1);
      }

      #introduce_for_write {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 40%;
        background-color: rgba(255, 255, 255, 0.1);
        margin-top: 100px;
        animation-name: introduce_anime;
        animation-duration: 3s;
      }


      body {
        color:white;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 0% 0%;
        background-size: 100% 100%;
      }

      .map_design {
        width: 100%;
        height: 300px;
        border:0;
        margin-right:auto;
        margin-left:auto;
      }

      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      .change .bar1 {
        -webkit-transform: rotate(45deg) translate(-5px, 5px);
        transform: rotate(-45deg) translate(-5px, 5px) ;
      }
      .change .bar2 {opacity: 0;}
      .change .bar3 {
        -webkit-transform: rotate(-45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px) ;
      }

      #container {
        position: absolute;
        margin-left: -30px;
        cursor: pointer;
      }

      #menu {
        display: none;
        background: white;
        width: 100%;
          } #menu ul li {
            background: white;
            padding-bottom: 5px;
            width: 100%;
          }
    }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  border: 8px;
  width: 100%;
  text-align: center;
}

.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.copyright {
  z-index: 99999;
}

.Box {
				box-sizing: border-box;
				width: 200px;
				height: 200px;
				margin: 20px auto;
				background-color: orange;
}
.anim-trans {
  animation: anim 4s ease-in;
  }
@keyframes anim{
     0% { }
     20%  { z-index:999;\transform: skewX(5deg) translateX(-100%); }
     40%   { transform: skewX(0deg) translateX(0);
 width:150%; z-index:999; box-shadow: 10px 10px 5px #eaeaea;}
     60%   { transform: skewX(3deg) translateX(-10);
 width:150%;z-index:999; box-shadow: 10px 10px 5px #eaeaea;}
}

.bg-text {
    width: 0;
}
.bg-text::before {
    color: #fff;
    width: 0;
    position: relative;
    content: attr(data-bg-text);
    font-size: 100px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -10%;
}
